/* Google fonts - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Code */
body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Site header area start */
#header-area {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 900px;
  padding-top: 35px;
}

#header-area .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-area .navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  list-style: none;
}

#header-area .navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #4d4959;
  transition: 0.3s;
}

#header-area .navbar ul li a:hover {
  color: #7bcaad;
}

#header-area .navbar ul li a .logo {
  width: 100px;
  height: auto;
}

@media (max-width: 991px) {
  #header-area {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  #header-area {
    min-height: 500px;
  }

  #header-area .navbar ul {
    gap: 40px;
  }
  
}

@media (max-width: 575px) {
  #header-area {
    min-height: 300px;
  }

  #header-area .navbar ul {
    gap: 15px;
  }

  #header-area .navbar ul li a .logo {
    width: 40px;
    height: auto;
  }

  #header-area .navbar ul li a {
    font-size: 11px;
  }
  
}
/* Site header area end */

/* Site main area start */

/* Intro area start */
#intro-area {
  background-color: #f7f7f7;
  padding: 120px 0;
}

#intro-area .intro-contents {
  text-align: center;
}

#intro-area .intro-contents img {
  display: inline-block;
  width: 50px;
  margin-bottom: 30px;
}

#intro-area .intro-contents .site-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  margin-bottom: 30px;
}

#intro-area .intro-contents .site-description {
  font-size: 18px;
  color: #848789;
  line-height: 1.6em;
  width: 70%;
  margin: auto;
}

@media (max-width: 991px) {
  #intro-area .intro-contents .site-description {
    width: 90%;
  }
}

@media (max-width: 767px) {
  #intro-area {
    padding: 100px 0;
  }

  #intro-area .intro-contents .site-description {
    width: 92%;
  }
}

@media (max-width: 575px) {
  #intro-area {
    padding: 80px 0;
  }

  #intro-area .intro-contents .site-title {
    font-size: 15px;
  }

  #intro-area .intro-contents .site-description {
    width: 100%;
    font-size: 15px;
  }
}

/* Intro area end */

/* Product intro area start */
#product-intro-area .product-item-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 600px;
}

#product-intro-area .product-item-top .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/big-image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

#product-intro-area .product-item-top .right-side .text-area {
  position: relative;
  padding-top: 70px;
  padding-bottom: 55px;
  text-align: center;
}

#product-intro-area .product-item-top .right-side .text-area::before {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  background-color: #d7d7d7;
  height: 3px;
  width: 70px;
}

#product-intro-area .product-item-top .right-side .text-area::after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}

#product-intro-area .product-item-top .right-side .text-area img {
  display: inline-block;
  width: 45px;
  height: auto;
  margin-bottom: 25px;
}

#product-intro-area .product-item-top .right-side .text-area h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  margin-bottom: 25px;
}

#product-intro-area .product-item-top .right-side .text-area p {
  font-size: 16px;
  color: #848789;
  line-height: 1.6em;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

#product-intro-area .product-item-top .right-side .small-image img {
  display: block;
  width: 100%;
}

@media (max-width: 991px) {
  #product-intro-area .product-item-top {
    grid-template-columns: auto;
  }
  #product-intro-area .product-item-top .left-side {
    height: 600px;
  }
}

@media (max-width: 767px) {
  #product-intro-area .product-item-top .left-side {
    height: 400px;
  }
}

#product-intro-area .product-item-middle {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 600px;
}

#product-intro-area .product-item-middle .left-side .text-area {
  position: relative;
  padding-top: 70px;
  padding-bottom: 55px;
  text-align: center;
}

#product-intro-area .product-item-middle .left-side .text-area::before {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  background-color: #d7d7d7;
  height: 3px;
  width: 70px;
}

#product-intro-area .product-item-middle .left-side .text-area::after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}

#product-intro-area .product-item-middle .left-side .text-area img {
  display: inline-block;
  width: 45px;
  height: auto;
  margin-bottom: 25px;
}

#product-intro-area .product-item-middle .left-side .text-area h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  margin-bottom: 25px;
}

#product-intro-area .product-item-middle .left-side .text-area p {
  font-size: 16px;
  color: #848789;
  line-height: 1.6em;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

#product-intro-area .product-item-middle .left-side .small-image img {
  display: block;
  width: 100%;
}

#product-intro-area .product-item-middle .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/big-image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

@media (max-width: 991px) {
  #product-intro-area .product-item-middle {
    grid-template-columns: auto;
  }
  #product-intro-area .product-item-middle .right-side {
    height: 600px;
  }
}

@media (max-width: 767px) {
  #product-intro-area .product-item-middle .right-side {
    height: 400px;
  }
}

#product-intro-area .product-item-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 600px;
}

#product-intro-area .product-item-bottom .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/big-image-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

#product-intro-area .product-item-bottom .right-side {
  background-image: url('../img/big-image-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

#product-intro-area .product-item-bottom .middle-side .text-area {
  position: relative;
  padding-top: 70px;
  padding-bottom: 55px;
  text-align: center;
}

#product-intro-area .product-item-bottom .middle-side .text-area::before {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  background-color: #d7d7d7;
  height: 3px;
  width: 70px;
}

#product-intro-area .product-item-bottom .middle-side .text-area::after {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}

#product-intro-area .product-item-bottom .middle-side .text-area img {
  display: inline-block;
  width: 45px;
  height: auto;
  margin-bottom: 25px;
}

#product-intro-area .product-item-bottom .middle-side .text-area h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  margin-bottom: 25px;
}

#product-intro-area .product-item-bottom .middle-side .text-area p {
  font-size: 16px;
  color: #848789;
  line-height: 1.6em;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

#product-intro-area .product-item-bottom .middle-side .small-image img {
  display: block;
  width: 100%;
}


@media (max-width: 991px) {
  #product-intro-area .product-item-bottom {
    grid-template-columns: auto;
  }
  #product-intro-area .product-item-bottom .right-side {
    height: 600px;
  }
  #product-intro-area .product-item-bottom .left-side {
    height: 600px;
  }
}

@media (max-width: 767px) {
  #product-intro-area .product-item-bottom .right-side {
    height: 400px;
  }
  #product-intro-area .product-item-bottom .left-side {
    height: 400px;
  }
}
/* Product intro area end */

/* Testimonial area start */
#testimonial-area {
  background-color: #f7f7f7;
  padding: 120px 0 60px;
  text-align: center;
}

#testimonial-area .testimonial-contents {
  margin-bottom: 100px;
}

#testimonial-area .testimonial-contents svg {
  margin-bottom: 35px;
  color: #56c7ee;
  font-size: 35px;
}

#testimonial-area .testimonial-contents h3 {
  margin-bottom: 25px;
  color: #353738;
  font-size: 18px;
}

#testimonial-area .testimonial-contents h3 span {
  margin-bottom: 25px;
  color: #a7a9aa;
  font-size: 18px;
  font-weight: 400;
}

#testimonial-area .testimonial-contents p {
  color: #848789;
  font-size: 21px;
  font-style: italic;
  line-height: 1.6em;
  width: 80%;
  margin: auto;
}

#testimonial-area .three-dots ul {
  display: flex;
  justify-content: space-between;
  width: 70px;
  list-style: none;
  margin: auto;
  gap: 10px;
}

#testimonial-area .three-dots ul li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid gray;
  cursor: pointer;
}

#testimonial-area .three-dots ul li:first-child {
  background-color: gray;
  cursor: none;
}
/* Testimonial area end */

/* Gallery area start */
#gallery-area {
  background-color: #64c29e;
}

#gallery-area .gallery-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

#gallery-area .gallery-contents .gallery-item {
  height: 200px;
}

#gallery-area .gallery-contents .gallery-item .overlay {
  position: relative;
  background-color: #64c29e;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

#gallery-area .gallery-contents .gallery-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

#gallery-area .gallery-contents .gallery-item .overlay .shop-btn {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#gallery-area .gallery-contents .gallery-item .overlay .shop-btn img {
  display: inline-block;
  margin-bottom: 7px;
  width: 70%;
}

#gallery-area .gallery-contents .gallery-item .overlay .shop-btn strong {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

#gallery-area .gallery-contents .gallery-item:nth-child(1) {
  background-image: url('../img/gallery/gallery-image-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(2) {
  background-image: url('../img/gallery/gallery-image-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(3) {
  background-image: url('../img/gallery/gallery-image-03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(4) {
  background-image: url('../img/gallery/gallery-image-04.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(5) {
  background-image: url('../img/gallery/gallery-image-05.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(6) {
  background-image: url('../img/gallery/gallery-image-06.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(7) {
  background-image: url('../img/gallery/gallery-image-07.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#gallery-area .gallery-contents .gallery-item:nth-child(8) {
  background-image: url('../img/gallery/gallery-image-08.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* Gallery area end */

/* Site main area end */